<p>
  <strong>Title:</strong>
  <%= @list.title %>
</p>

<p>
  <strong>Status:</strong>
  <%= @list.status %>
</p>

<%= button_to "Delete List", list_path, method: :delete %>
<%= link_to "All Lists", lists_path %>
<%= button_to "Update List", list_path, method: :patch %>
