<h1>Start a New Project!</h1><br><br><br><br>
  <div class="alert">
  </div>
<%= form_with model: @pa, url: '/users/:user_id/project_assignments' do |f| %>

  <label><strong>Location: </strong></label><%= f.text_field :location %><br><br><br>
  <label><strong>Today's Date: </strong></label><%= select_date Date.today, prefix: :created_at %><br><br><br>
  <% @lists.each do |l| %>
    <p>
      <strong><label for="list_id_<%=l.id%>"><%=l.title%></label></strong><br>
      <input type="checkbox" name="list[list_ids][]" value="<%=l.id%>" id="list_id_<%=l.id%>"><%=l.title%>
    </p>
    <%end%>

  <%= f.submit "Create" %>
<%end%>
<br>
