
  <h2>Welcome, <%= @user.name %>!</h2>
  <img src="<%= @user.image %>">

<div class="projects_box">
  <h4 id="MyProjectsHeading">My Projects</h4><br>
    <% @user.project_assignments.each do |pa| %>
      <label><strong>Location: </strong></label><%= link_to pa.location, user_project_assignment_path(pa.user_id, pa.id) %><br>
    <%end%>
</div>




<p>
  <%= link_to "Edit User", edit_user_path(@user) %><br>
  <%= button_to "Log Out", logout_path, method: :delete %><br>
</p>
